<div class="header">
    <div>
        <img class="logo" src="../../../assets/imagini/Logo.png">
    </div>
    <div class="search-wrapper">
        <input class="search-bar" type="text" placeholder="Search">
        <img class="search-bar-icon" src="../../../assets/imagini/search bar icon.png">
    </div>
    <div class="user-icon-wrapper">
        {{this.userType}}
        <div>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="selectUserType('User')">User</button>
              <button mat-menu-item (click)="selectUserType('Admin')">Admin</button>
            </mat-menu>
            <button class="user-button" [matMenuTriggerFor]="userMenu">
              <img class="user-icon" src="../../../assets/imagini/user.png" matTooltip="Change the user type">
            </button>
          </div>
    </div>
</div>