.header {
    height: 70px;
    background-color:bisque;
    width: 100%;
    margin: 0px;
    display: flex;
}

.user-header {
    height: 50px;
    background-color:white;
    width: 100%;
    margin: 0px;
    display: flex;
}

.search-bar {
    display: flex;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo{
    display:flex;
    height: 65px;
    margin-left: 25px;
}

.search-bar-icon{
    display:flex;
    height: 22px;
    margin-left: 5px;
}

.user-icon-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.user-icon {
    display:flex;
    height: 22px;
}

.user-button {
    border: none;
    background-color: transparent;
    margin-right: 15px;
    margin-left: 0px;
    cursor: pointer;
}

.header-options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.user-icon-wrapper-user-view {
    display: flex;
    justify-content: end;
    align-items: center;
}

.label-text {
    position: relative;
    display: inline-block;
  }

.label-text::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Adjust the thickness of the underline as needed */
    background-color: transparent; /* Initial color of the underline */
    transition: background-color 0.3s ease; /* Animation duration and easing */
  }
  
  .sidebar-option:hover .label-text::after {
    background-color: #5a8c65; /* Change to the desired color on hover */
  }