<!-- admin header -->
<div class="header" *ngIf="this.authorizationService.isAdmin">
    <div>
        <img class="logo" src="../../../assets/imagini/Logo.png">
    </div>
    <div class="search-wrapper">
        <input class="search-bar" type="text" placeholder="Search">
        <img class="search-bar-icon" src="../../../assets/imagini/search bar icon.png">
    </div>
    <div class="user-icon-wrapper">
        {{this.userEmail}}
        <div>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="editProfile()">Editeaza profilul</button>
              <button mat-menu-item (click)="logout()">Log out</button>
            </mat-menu>
            <button class="user-button" [matMenuTriggerFor]="userMenu">
              <img class="user-icon" src="../../../assets/imagini/user.png" matTooltip="User">
            </button>
          </div>
    </div>
</div>

<!-- user header -->
<div class="user-header" *ngIf="!this.authorizationService.isAdmin">
  <div class="header-options">
    <div id="home" class="sidebar-option">
        <label class="label-text" routerLink="/home">HOME</label>
    </div>
    <div id="plan-trip" class="sidebar-option" routerLink="/plan-trip">
      <label class="label-text">PLAN YOUR TRIP</label>
  </div>
  </div>
  <div class="user-icon-wrapper-user-view">
    <div class="me-2">
      <button class="user-button" (click)="goToBasket()">
        <img class="user-icon" src="../../../assets/imagini/plane.png" matTooltip="Calatoria mea">
      </button>
    </div>
    {{this.userEmail}}
    <div class="me-2">
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="editProfile()">Editeaza profilul</button>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
        <button class="user-button" [matMenuTriggerFor]="userMenu">
          <img class="user-icon" src="../../../assets/imagini/user.png" matTooltip="User">
        </button>
      </div>
</div>
</div>