<div class="header" matTooltip="Change the user type">
    <div>
        <img class="logo" src="../../../assets/imagini/Logo.png">
    </div>
    <div class="search-wrapper">
        <input class="search-bar" type="text" placeholder="Search">
        <img class="search-bar-icon" src="../../../assets/imagini/search bar icon.png">
    </div>
    <div class="user-icon-wrapper">
        Admin
        <div>
            <img class="user-icon" src="../../../assets/imagini/user.png" matTooltip="Change the user type">
        </div>
    </div>
</div>