<div class="eticheta">
    <div>
        <label for="numeLocatie">Introduce numele restaurantului:</label>
        <input type="text" id="numeLocatie" name="numeLocatie">
    </div>

    <div>
        <label for="Scor">Introduce scorul:</label>
        <input type="text" id="Scor" name="Scor">
    </div>

    <div>
        <label for="pretMediu">Introduce pretul mediu:</label>
        <input type="text" id="pretMediu" name="pretMediu">
    </div>

    <div>
        <label for="review">Introduce review sau ce o mai fi:</label>
        <input type="text" id="review" name="review">
    </div>
</div>

<div class="buton_save">
    <button type="button">Salvează modificările</button>
</div>
