<div class="page-wrapper">
    <div class="page-title d-flex justify-content-center">
        <img class="icon" src="../../../assets/imagini/restaurant.png">
        <label class="ms-2">Restaurante</label>
    </div>
    <div class="page-container">
        <div class="d-flex justify-content-center">Adauga Restaurant</div>
        <div class="eticheta">
                <label for="numeLocatie">Introduce numele restaurantului:</label>
                <input type="text" id="numeLocatie" name="numeLocatie">
        </div>
        <div>
            <label for="Scor">Introduce scorul:</label>
            <input type="text" id="Scor" name="Scor">
        </div>
    
        <div>
            <label for="pretMediu">Introduce pretul mediu:</label>
            <input type="text" id="pretMediu" name="pretMediu">
        </div>
    
        <div>
            <label for="review">Introduce review sau ce o mai fi:</label>
            <input type="text" id="review" name="review">
        </div>
        
        <div class="mt-3">
            <button type="button">Salvează modificările</button>
        </div>
    </div>
    
</div>

