<div class="modal-header" mat-dialog-title>
    <div class="title-container">
      <span>Sterge Locatia</span>
    </div>
    <div class="close-button-container">
      <button class="close-button" mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

<mat-dialog-content>
    <div class="dialog-content">
        Esti sigur ca vrei sa stergi {{data.type}} {{data.entity.nume}}?
    </div>   
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" [mat-dialog-close]="true">Sterge</button>
</mat-dialog-actions>