<div class="sidebar" *ngIf="this.autorizationService.isAdmin">
    <div id="locatii" class="sidebar-option" routerLink="/locatii" (click)="tabSelected('locatii')">
        <img class="icon" src="../../../assets/imagini/location.png">
        <label class="label-text">Locatii</label>
    </div>
    <div id="hoteluri" class="sidebar-option" routerLink="/hoteluri" (click)="tabSelected('hoteluri')">
        <img class="icon" src="../../../assets/imagini/hotel.png">
        <label class="label-text">Hoteluri</label>
    </div>
    <div id="restaurante" class="sidebar-option" routerLink="/restaurante" (click)="tabSelected('restaurante')">
        <img class="icon" src="../../../assets/imagini/restaurant.png">
        <label class="label-text">Restaurante</label>
    </div>
    <div id="activitati" class="sidebar-option" routerLink="/activitati" (click)="tabSelected('activitati')">
        <img class="icon" src="../../../assets/imagini/swimming.png">
        <label class="label-text">Activitati</label>
    </div>
</div>
