.sidebar {
    margin-top: 70px;
    min-height: 92vh;
    /* height: 80%; */
    width: 11vw;
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column;
}

.sidebar-option {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.label-text::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Adjust the thickness of the underline as needed */
    background-color: transparent; /* Initial color of the underline */
    transition: background-color 0.3s ease; /* Animation duration and easing */
}

.label-text {
    margin-left: 10px;
    cursor: pointer;
}

.sidebar-option:hover .label-text::after {
    background-color: #007bff; /* Change to the desired color on hover */
  }

.nav-link {
    width: 100%;
}

.selected-tab {
    background-color: rgba(255, 181, 132, 0.829);
}