.sidebar {
    height: 94.5vh;
    width: 200px;
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column;
}

.sidebar-option {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.label-text {
    margin-left: 10px;
}

.nav-link {
    width: 100%;
}

.selected-tab {
    background-color: rgba(255, 181, 132, 0.829);
}