/* Your component's CSS */
.content-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;
  max-height: 400px; /* Adjust the max-width as needed */
  margin-bottom: 10px; /* Adjust margin as needed for spacing between items */
}

.image-section {
  flex: 1;
  max-width: 50%;
  overflow: hidden;
  max-height: 400px;
}

.image-section img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.hover-animate:hover {
  background-color: #eeeeee;
}

.hover-animate:hover  > :first-child {
  transform: scale(0.9);
}

.text-section {
  flex: 1;
  padding: 20px;
}

.nume-statiune {
  font-size: 24px;
  font-family: Montserrat;
  color: #5a8c65;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .content {
    width: 48%; /* Adjust as needed for two columns on larger screens */
  }
}
