<!-- Your component's HTML file -->
<div class="content-1">
  <div class="content hover-animate" *ngFor="let location of locatii; let i = index;">
    <div class="image-section" (click)="goToSeeRestaurantsHotels(location)">
      <img src="../../../assets/imagini/{{ i+1 }}.jpg" alt="Descriptive Text">
    </div>
    <div class="text-section" (click)="goToSeeRestaurantsHotels(location)">
      <div class="nume-statiune">{{ location.nume }}</div>
      <p>{{ location.descriere }}</p>
    </div>
  </div>
</div>
