.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 5px 10px !important;
}

.margins {
    margin-top: 30px;
    margin-left: 23px;
    width: 85%
}

.name-label {
    margin-left: 4px;
}
