<div class="modal-header" mat-dialog-title>
    <div class="title-container" *ngIf="data.mode == 'edit'">
        <span>Editeaza Locatie</span>
    </div>
    <div class="title-container" *ngIf="data.mode == 'add'">
        <span>Adauga Locatie</span>
    </div>
    <div class="close-button-container">
        <button class="close-button" mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<mat-dialog-content>
    <div class="dialog-content">
        <mat-form-field>
            <input matInput placeholder="Nume" [(ngModel)]="data.locatie.nume">
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Descriere" [(ngModel)]="data.locatie.descriere" rows="3"></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="basic" [mat-dialog-close]="data.locatie">Salveaza</button>
</mat-dialog-actions>