/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin:0px;
}
/* bootstrap */
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
    align-items: center;
}

.ms-2 {
    margin-left: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.full-width {
    width: 100%
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-wrapper {
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.page-title {
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.page-container {
    padding: 15px;
    background-color: rgb(247, 240, 240);
}

.icon {
    height: 20px;
}

.custom-button {
    padding: 8px;
   cursor: pointer;
   transition-duration: 0.4s;
   background-color: rgba(255, 181, 132, 0.829);
   border-color: rgba(255, 181, 132, 0.829);
   color: black;
}

.custom-button:hover {
    background-color:white;
    border-color: rgba(255, 181, 132, 0.829);
}

  input[type=text], select, .custom-textbox {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family:  Roboto;
    width: 250px;
  }

  .eticheta {
    display: flex;
    align-items: center;
  }

  .error {
    color: red;
  }

  .custom-dropdown {
    width: 250px;
  }

  /* .sidebar-option {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
} */

.label-text {
    margin-left: 10px;
    cursor: pointer;
    color:#525252
}

.center-align {
    display: flex;
    justify-content: center;
}