<div class="modal-header" mat-dialog-title>
    <div class="title-container" *ngIf="data.mode == 'edit'">
        <span>Editeaza Restaurant</span>
    </div>
    <div class="title-container" *ngIf="data.mode == 'add'">
        <span>Adauga Restaurant</span>
    </div>
    <div class="close-button-container">
        <button class="close-button" mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<ng-select class="custom-dropdown" [items]="data.locatii"
    bindLabel="nume"
    placeholder="Selecteaza locatia"
    [(ngModel)]="selectedLocatie"
    (change)="onLocatieChange($event)">
</ng-select>
<form #locatieForm="ngForm">
    <mat-dialog-content>
        <div class="dialog-content">
            <mat-form-field>
                <input matInput placeholder="Nume" [(ngModel)]="data.restaurant.nume" name="nume" required maxlength="45">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nota Recenzie" [(ngModel)]="data.restaurant.notaRecenzie" name="notaRecenzie" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Adresa" [(ngModel)]="data.restaurant.adresa" name="adresa" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Contact" [(ngModel)]="data.restaurant.contact" name="contact" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Specific" [(ngModel)]="data.restaurant.specificRestaurant" name="specificRestaurant" required>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="mb-3 me-3" mat-raised-button color="basic" (click)="onSave()" [disabled]="!locatieForm.form.valid"
            [mat-dialog-close]="data.restaurant">Salveaza</button>
    </mat-dialog-actions>
</form>